header{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    margin-bottom: 20px ;
    border: 2px solid cornflowerblue;
    padding: 0px 1rem ;
    background-color: darkseagreen;
} 